name: yolov8-salmon
channels:
  - pytorch
  - nvidia
  - conda-forge
  - defaults
dependencies:
  - python=3.10
  - pytorch
  - torchvision
  - torchaudio
  - pytorch-cuda=11.8
  - numpy
  - pandas
  - matplotlib
  - seaborn
  - pyyaml
  - requests
  - tqdm
  - pip
  - pip:
    - ultralytics
    - opencv-python
